@tailwind base;
@tailwind components;
@tailwind utilities;

/* css variable controlling number of hexagons in one row */
:root {
    --hexagons-in-row: 9;

    --gap-size: 4px;

    --hexagon-side-length: 50px;
    --hexagon-container-width: calc(var(--hexagon-side-length)*2);
    --hexagon-container-height: calc(var(--hexagon-side-length) * 2 * 0.866);
    --hexagon-border-color: black;

    --background-hexagon-image: url('/mobile_test_image.jpg');
}

@media (min-width: 768px) { 
    :root {
        --hexagons-in-row: 14;
        --background-hexagon-image: url('/test_image.jpg');
    }
}


@layer utilities {

    .absolute-hexagon {

        display: block;

        width: var(--hexagon-container-width);
        height: var(--hexagon-container-height);

        clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
        margin: 0;

        position: absolute;

        /* background */
        background-image: var(--background-hexagon-image);
        background-repeat: no-repeat;
    }

    .hexagon-navbar {

        --hexagon-side-length: 70px;

        --gap-size: 4px;

        --inner-hexagon-color: white;
        --hexagon-border-color: black;
        --hexagon-border-size: 4px;

        /* outer hexagon dimensions */
        --hexagon-container-width: calc(var(--hexagon-side-length)*2);
        --hexagon-container-height: calc(var(--hexagon-side-length) * 2 * 0.866);

        /* 
            --overlap-shift: calc( (0.5)* var(--gap-size) - var(--hexagon-container-height) * 0.5);
            --odd-row-shift: calc(var(--hexagon-container-height) *0.95);  
        */

        /* inner hexagon helper dimensions */
        --border-width: var(--hexagon-border-size);
        --middle-shift: calc(1.1547 * var(--border-width));
        --top-shift: calc(var(--middle-shift) - var(--border-width) * 0.57735) ;

        
        
    }

    .hexagon-language-switch {
        --hexagon-side-length: 60px;

        --gap-size: 4px;

        --inner-hexagon-color: white;
        --hexagon-border-color: black;
        --hexagon-border-size: 4px;

        /* outer hexagon dimensions */
        --hexagon-container-width: calc(var(--hexagon-side-length)*2);
        --hexagon-container-height: calc(var(--hexagon-side-length) * 2 * 0.866);

        /* 
            --overlap-shift: calc( (0.5)* var(--gap-size) - var(--hexagon-container-height) * 0.5);
            --odd-row-shift: calc(var(--hexagon-container-height) *0.95);  
        */

        /* inner hexagon helper dimensions */
        --border-width: var(--hexagon-border-size);
        --middle-shift: calc(1.1547 * var(--border-width));
        --top-shift: calc(var(--middle-shift) - var(--border-width) * 0.57735) ;

    }


    .hexagon {
        display: block;
        background-color: var(--hexagon-border-color);
        width: var(--hexagon-container-width);
        height: var(--hexagon-container-height);

        clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    }

    /* Navbar mobile positioning */
    .hexagon-navbar {
        max-width: calc( var(--hexagon-side-length) * 3.6 +  var(--gap-size));
        padding-top: calc(  ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) );
    }
    .hexagon-navbar .hexagon {
        margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) )
    }
    .hexagon-navbar .hexagon:nth-child(odd) {
        margin-left: calc(1.5 * var(--hexagon-side-length) + var(--gap-size));
    }

    /* Navbar for horizontal phone */
    @media (min-width: 360px) and (max-width: 799px) and (max-height: 420px) {
        
        

        .hexagon-navbar {
            flex-direction: row;
            max-width: calc( var(--hexagon-side-length) * 5.1 + 2 * var(--gap-size));
            width: calc( var(--hexagon-side-length) * 5.1 + 2 * var(--gap-size));
            padding-top: calc(  ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) );;
        }
        .hexagon-navbar .hexagon {
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) );
            margin-right: calc(var(--hexagon-side-length) + 2 * var(--gap-size)) ;  
        }
        .hexagon-navbar .hexagon:nth-child(odd) {
            margin-left: 0px;
        }

        .hexagon-navbar .hexagon:nth-child(1) {
            order: 2;
            margin-right: 0px;
        }
        .hexagon-navbar .hexagon:nth-child(2) {
            order: 3;
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) );
            margin-left: calc(1.5 * var(--hexagon-side-length) + var(--gap-size));
        }
        .hexagon-navbar .hexagon:nth-child(3) {
            order: 1
        }
        .hexagon-navbar .hexagon:nth-child(4) {
            order: 4
        }
        .hexagon-navbar .hexagon:nth-child(5) {
            order: 6;
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) );
            margin-left: calc(1.5 * var(--hexagon-side-length) + var(--gap-size));
        }
        .hexagon-navbar .hexagon:nth-child(6) {
            order: 5;
            margin-right: 0px;
        }
        
    }

    @media(min-width: 500px) {
        /* Language Switch Desktop positioning */
        
        .hexagon-language-switch {
            max-width: calc(3.6 * var(--hexagon-side-length)  +  var(--gap-size));
        }

        .hexagon-language-switch a:nth-child(2) {
            margin-left: calc(1.5 * var(--hexagon-side-length) + var(--gap-size));
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) )
        }
        .hexagon-language-switch a:nth-child(3) {
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) )
        }
    }




    @media (min-width: 800px) { 

        /* Navbar desktop positioning */
        .menuIcon {
            display: none;
        }
        .hexagon-navbar .hexagon:nth-child(odd) {
            margin-left: 0px;
        }

        .hexagon-navbar {
            max-width: calc( var(--hexagon-side-length) * 8.1 + 4 * var(--gap-size));
            padding-top: 0px;
        }

        .hexagon-navbar .hexagon {
            margin-top: 0px;
            margin-right: calc(var(--hexagon-side-length) + 2 * var(--gap-size)) ;  
        }

        .hexagon-navbar .hexagon:nth-child(2) {
            order: 1;
        }
        .hexagon-navbar .hexagon:nth-child(3) {
            order: 4;
            margin-left: calc(1.5 * var(--hexagon-side-length) + var(--gap-size));
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) )
        }
        .hexagon-navbar .hexagon:nth-child(4) {
            order: 2;
        }
        .hexagon-navbar .hexagon:nth-child(5) {
            order: 5;
            margin-top: calc( (-1) * ( 0.5 * var(--hexagon-container-height) - 0.5 * var(--gap-size) ) )
        }
        .hexagon-navbar .hexagon:nth-child(6) {
            order: 3;
            margin-right: 0px;
        }
    }

    

    .inner-hexagon {
        background-color: var(--inner-hexagon-color);
        width:100%;
        height: 100%;

        clip-path: polygon(
            calc(0% + var(--middle-shift)) 50%, 
            calc(25% + var(--top-shift)) calc(0% +var(--border-width)), calc(75% - var(--top-shift)) calc(0% +var(--border-width)), 
            calc(100% - var(--middle-shift)) 50%, 
            calc(75% - var(--top-shift)) calc(100% - var(--border-width)), calc(25% + var(--top-shift)) calc(100% - var(--border-width))
        );

        display: flex;
        justify-content: center;
        align-items: center;
    }



    .dash-list {
        list-style: url("/dash.svg");
    }

    .czechBg {
        background-image: url("/Czech_flag.svg");
        background-position: center center;
        background-size: cover;
    }

    .englishBg {
        background-image: url("/UK_flag.svg");
        background-position: center center;
        background-size: cover;
    }

}

